@page "/"

<div class="row">
    <a href="/Game" class="col-md-6 d-flex align-items-center justify-content-center">
        <h1>Game</h1>
    </a>
    <a href="/Settings" class="col-md-6 d-flex align-items-center justify-content-center">
        <h1>Settings</h1>
    </a>
</div>